aiomysql==0.2.0
aiosqlite==0.21.0
async-timeout==5.0.1
cffi==1.17.1
cryptography==44.0.3
iso8601==2.1.0
loguru==0.7.3
pycparser==2.22
PyMySQL==1.1.1
pypika-tortoise==0.5.0
pytz==2025.2
redis==6.1.0
setuptools==80.7.1
tortoise-orm==0.25.0
typing_extensions==4.13.2
uvloop==0.21.0
